.App {
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.light-mode {
    background-color: #f0f0f0;
    color: #000000;
    justify-content: center;
    height: 100vh;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
    justify-content: center;
    height: 100vh;
}